.header {
  position: sticky;
  top: 0;
  max-height: 82px;
  padding: 6px 0;
  background-color: var(--dark-grey);
  border-radius: 0 0 40px 40px;
  z-index: 10;
}

.header__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.header__link {
  position: relative;
  z-index: 20;
  justify-self: start;
}

.header__logo {
  width: 251px;
  height: 70px;
}

.header__nav {
  justify-self: center;
  margin: 0 auto;
}

.header__nav-list {
  display: flex;
  gap: 60px;
}

.header__nav-item {
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  color: var(--white);
  transition: var(--transition);
}

.header__nav-item:hover {
  color: var(--easy-grey);
}

.header__right {
  transform: translateX(33px);
  transition: var(--transition);
  justify-self: end;
}

.header__right--burger {
  display: none;
}

.header__right--burger .header__right-phone {
  font-size: 24px;
}

.header__right-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__right-item {
  cursor: pointer;
}

.header__right-telegram,
.header__right-whatsapp {
  display: block;
  width: 40px;
  height: 40px;
}

.header__right-telegram-img,
.header__right-whatsapp-img {
  width: 100%;
  height: 100%;
}

.header__right--burger .header__right-whatsapp,
.header__right--burger .header__right-telegram {
  width: 30px;
  height: 30px;
}

.header__right-phone {
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 120%;
  font-size: 32px;
  color: var(--white);
  transition: var(--transition);
}

.header__right-phone:hover {
  color: var(--easy-grey);
}

.burger-icon {
  display: none;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  background: var(--white);
  transition: var(--transition);
}

.burger-icon span {
  position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
  content: '';
  position: absolute;
}

.burger-icon span::before {
  top: -8px;
}

.burger-icon span::after {
  bottom: -8px;
}

.body--opened-menu {
  overflow-y: hidden;
}

.body--opened-menu .burger-icon span {
  background: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0;
  transform: rotate(-45deg);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0;
  transform: rotate(45deg);
}